@import '../../../assets/sass/config';
@import '../../../assets/sass/common'; //COMMON CSS RULES FOR ALL PAGES

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.montserrat-font {
    font-family: 'montserrat';
}

main {
    background-color: $p-lightgrey;
    display: grid;
    text-align: center;
    width: 100%;

    .head {
        margin: 70px 15px 10px 15px;
    }

    .self-description {
        max-height: 490px;

        h2 {
            padding: 10px;
        }

        .img-bg {
            position: relative;
            z-index: 1;
            height: 150px;
            width: 150px;
            margin: 20px auto;
            background-color: $p-lightOrange;
            border-radius: 100%;

            img {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 100%;

                width: 95%;
            }
        }

        .cv-description {
            position: relative;
            z-index: 0;
            top: -60px;
            width: 80%;
            margin: 20px auto 0 auto;
            border: 1px solid $p-lightOrange;
            padding-top: 50px;

            font-size: 1.14em;
        }

    }

    .education {
        width: 80%;
        margin: 0 auto;

        h2 {
            text-align: left;
        }

        ul {
            padding: 0 10px;
            text-align: left;

            li {
                list-style-type: circle;
            }
        }
    }

    .languages {
        background-color: $p-lightgrey;
        width: 80%;
        margin: 10px auto;
        text-align: left;

        .italian,
        .english,
        .french {
            display: flex;
        }

        h2 {
            margin-top: 20px;
        }

        h3 {
            margin-top: 10px;
        }
    }

    .experiences {
        width: 80%;
        margin: 0 auto;

        h2 {
            margin-top: 50px;
            text-align: left;
        }

        ul {
            padding: 0;
            text-align: left;

            li:first-child {
                margin-top: 30px;
            }

            li {
                list-style-type: circle;

                h3 {
                    font-size: 1.1em;
                    font-weight: bold;
                }

                small {
                    margin-top: -10px;
                    margin-bottom: 25px;
                }

                p {
                    margin-top: -5px;
                }
            }
        }
    }

    .contact-me {
        padding: 0 10px;
        a {
            color: $p-lightOrange;
        }
    }
}

//*MEDIA QUERIES*

//TABLET
@media screen and (min-width: 768px) {
    main {
        .self-description {

            h2 {
                padding: 20px;
            }

            .cv-description {
                max-width: 60%;
            }

            .img-bg {
                max-width: 200px;
            }

            h2 {
                max-width: 350px;
            }
        }

        .education {

            h2 {
                text-align: center;
            }

            ul {
                padding: 0 30px;
            }
        }

        .languages {
            display: grid;
            justify-content: center;
        }

        .experiences {
            margin-top: 30px;
            display: grid;
            justify-content: center;

            h2 {
                text-align: center;
            }

            ul {
                padding: 0 30px;
            }
        }
    }
}


//LAPTOP
@media screen and (min-width: 1024px) {
    main {
        grid-template-columns: 500px 500px;
        justify-content: center;
        margin: 0 auto;

        .head {
            margin-top: 40px;
            grid-column: 1;
            grid-row: 1 / span 2;

            h2 {margin-top: 50px;}
        }

        .education {
            margin-top: 40px;

            ul {
                margin-top: 50px;
            }
        }

        .self-description {
            grid-column: 1;
            grid-row: 2;

            .img-bg {
                width: 15vw;
                max-width: 170px;
                background-color: initial;

                img {
                    width: 100%;
                }
            }

            .cv-description {
                max-width: 90%;
            }
        }

        .languages {
            display: grid;
            grid-template-columns: 1fr 1fr;

            h2 {
                position: relative;
                left: 50%;
            }

            .italian {
                grid-column: 1;
                grid-row: 2;
            }

            .english {
                grid-column: 2;
                grid-row: 2;
            }

            .french {
                grid-column: 1;
                grid-row: 3;
            }
        }

        .experiences {
            grid-column: 2;
            grid-row: 2 / 4;

            h2 {
                margin-top: 60px;
            }

            ul {
                margin-top: -30px;
            }
        }

        .contact-me {
            margin-top: 100px;
            grid-column: 1 / span 2;
        }
    }

}